<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hata Oluştu</title>
</head>
<body>
    <hgroup>
        <h1>Hata Oluştu.</h1>
        <h2>Burası uygulamamızda bir hata oluştuğunda çalışan sayfa</h2>
    </hgroup>
    <p>
        Burada istediğimiz Html tasarımını yapabiliriz
    </p>
</body>
</html>
